.logo-main {
  &:hover {
    color: $logo-main-color;
  }
  svg {
    height: 2.8rem;
    width: 2.8rem;
    display: block;
    fill: currentcolor;
    color: $logo-main-color;
  }
}

.logo-main.logo-persimmon {
  &:hover {
    color: $logo-homes-color;
  }
  svg {
    height: 2.8rem;
    width: 2.8rem;
    display: block;
    fill: currentcolor;
    color: $logo-homes-color;
  }
}
