.rating {
  display: flex;
  align-items: center;
  svg {
    height: $rating-icon-height;
    width: $rating-icon-width;
    color: $rating-icon-default-color;
    fill: currentColor;
    margin-right: 0.2rem;
  }
  span {
    font-size: $rating-text-font-size;
    color: $rating-text-color;
    font-weight: $rating-text-font-weight;
  }
}
