// Button Overrides
$btn-border-radius: 0.4rem;
$btn-border-width: 1px;
$grid-gutter-width: 15px;

// Title Overrides
$h1-font-size: 2rem;
$h3-font-size: 24px;

// Grid Overrides
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1440px,
  xxl: 1600px
);

.carousel-control-next {
  display: flex;
  justify-content: flex-end !important;
}
.carousel-control-prev {
  display: flex;
  justify-content: flex-start !important;
}
