.card-rectangle {
  @include makeCardView(
    $card-rectangle-bgcolor,
    $card-rectangle-border,
    $card-rectangle-border-radius,
    $card-rectangle-box-shadow
  );
}

.card-explore {
  @include makeCardView(
    $card-explore-bgcolor,
    $card-explore-border,
    $card-explore-border-radius,
    $card-explore-box-shadow
  );
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }
  span {
    font-size: $card-explore-text-font-size;
    font-weight: $card-explore-text-font-weight;
    color: $card-explore-text-color;
    line-height: 1.28571em !important;
  }

  .card-explore-image-container {
    flex: 3;
    border-top-left-radius: $card-explore-image-container-border-radius;
    border-top-right-radius: $card-explore-image-container-border-radius;
    background-size: cover;
    object-fit: fill;

    @include media-breakpoint-up(lg) {
      border-bottom-left-radius: $card-explore-image-container-border-radius;
      border-top-right-radius: 0;
      flex: 3;
    }
  }
  .card-explore-text-container {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 2rem;
    @include media-breakpoint-up(lg) {
      flex: 4;
      justify-content: initial;
    }
  }
}

.card-place-search {
  @include makeCardView(
    $card-placesearch-bgcolor,
    $card-placesearch-border,
    $card-placesearch-border-radius,
    $card-placesearch-box-shadow
  );
  padding-top: $card-placesearch-padding-top;
  padding-bottom: $card-placesearch-padding-bottom;
  label {
    color: $card-placesearch-label-color;
    font-size: $card-placesearch-label-font-size;
    font-weight: $card-placesearch-label-font-weight;
    letter-spacing: $card-placesearch-label-letter-spacing;
    text-transform: uppercase;
  }
  input {
    font-size: $card-placesearch-input-font-size;
    border: $card-placesearch-input-border-width solid
      $card-placesearch-input-border-color;
    border-radius: $card-placesearch-input-border-radius;
    height: $card-placesearch-height;
    &:active,
    &:focus {
      border-color: $card-placesearch-input-active-border-color;
    }
  }
  button[type="submit"] {
    width: 100%;
  }
}

.card-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-size: cover;
  object-fit: fill;

  min-width: 25vmin;
  min-height: 45vmin;
  padding-bottom: 2rem;
  border-radius: $card-place-border-radius;
  h5 {
    color: $card-place-title-color;
    font-weight: $card-place-title-font-weight;
  }
  span {
    color: $card-place-description-color;
    font-weight: $card-place-title-font-weight;
  }
}

.card-place-detailed {
  img {
    @include makeBorderedImage($card-detailed-place-image-radius);
  }
  h5 {
    display: flex;
    align-items: center;
    color: $card-detailed-place-title-color;
    font-size: $card-detailed-place-title-font-size;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    color: $card-detailed-place-description-color;
    font-weight: $card-detailed-place-description-font-weight;
  }

  a:hover {
    text-decoration: none;
  }
}

.card-featured {
  position: relative;
  img {
    @include makeBorderedImage($card-featured-image-radius);
  }
  h5 {
    color: $card-featured-title-color;
    font-size: $card-featured-title-font-size;
    font-weight: $card-featured-title-font-weight;
    text-transform: uppercase;
  }
  p {
    color: $card-featured-place-description-color;
    font-weight: $card-featured-place-description-font-weight;
  }

  .featured-image-caption {
    position: absolute;
    width: 100%;
    height: 80%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h4 {
      font-size: $card-featured-image-caption-title-font-size;
      font-weight: $card-featured-image-caption-title-font-weight;
      color: $card-featured-image-caption-title-color;
      text-transform: uppercase;
    }
    .plusicon {
      fill: currentColor;
      height: $card-featured-image-caption-plusicon-height;
      width: $card-featured-image-caption-plusicon-width;
      color: $white;
    }
    .title-underline {
      height: $card-featured-image-caption-title-underline-height;
      width: $card-featured-image-caption-title-underline-width;
      color: $card-featured-image-caption-underline-color;
    }
  }

  & > .caption-light {
    h4 {
      color: $card-featured-image-caption-light-title-color;
    }
    .plusicon {
      color: $black;
    }
    .title-underline {
      color: $card-featured-image-caption-light-underline-color;
    }
  }
}

.reviews-card {
  @include makeCardView(
    $card-review-bgcolor,
    $card-review-border,
    $card-review-border-radius,
    $card-review-box-shadow
  );
}
