.footer-main {
  background-color: $white;
  bottom: 0;
  border-top: 1px solid $footer-main-border-color;
  z-index: 2;
  h4 {
    color: $tundora;
    font-size: 14px;
  }
  a {
    color: $boulder;
    font-size: 14px;
  }
  li {
    margin-top: 0.2rem;
  }
}

.footer-main.closed {
  visibility: hidden;
}

.footer-main.sticky {
  position: sticky;
}
