.profile-container {
  position: relative;
  span {
    color: $profile-name-color;
  }
  svg {
    position: absolute;
    height: 32px;
    width: 32px;
    display: block;
    fill: currentcolor;
    top: $profile-img-badge-top;
    left: $profile-img-badge-left;
    @include media-breakpoint-up(md) {
      top: $profile-img-badge-large-top;
      left: $profile-img-badge-large-left;
    }
  }
}
.profile-image-link {
  img {
    height: $profile-image-link-small-height;
    width: $profile-image-link-small-width;
    @include media-breakpoint-up(md) {
      height: $profile-image-link-height;
      width: $profile-image-link-width;
    }
  }
}

.profile-image-link-small {
  img {
    height: $profile-image-link-small-height;
    width: $profile-image-link-small-width;
  }
}

.view-activity {
  padding-bottom: 2rem;
  img {
    border-radius: $large-border-radius;
    width: 100%;
    height: auto;
  }
  h5 {
    font-size: $section-adventure-title-font-size;
    font-weight: $section-adventure-title-font-weight;
    color: $section-adventure-title-color;
  }
  p {
    font-size: $section-adventure-description-font-size;
    font-weight: $section-adventure-description-font-weight;
    color: $section-adventure-description-color;
    line-height: $section-adventure-description-line-height;
    margin-bottom: 0.5rem;
  }
  span {
    color: $section-adventure-subtext-color;
  }
  a:hover {
    text-decoration: none;
  }
}
