.container-section {
  @include make-container(48px);

  @include media-breakpoint-up(md) {
    @include make-container(80px);
  }

  @include media-breakpoint-up(lg) {
    @include make-container(240px);
  }
  @include media-breakpoint-up(xl) {
    @include make-container(240px);
  }
}

.container-placedetail {
  flex: 1;
  padding: 2rem 0.5rem;
  @include media-breakpoint-up(md) {
    flex: 0 0 665px;
  }
  @include media-breakpoint-up(xl) {
    flex: 0 0 1048px;
  }
}
.container-footer {
  @include make-container(48px);

  @include media-breakpoint-up(md) {
    @include make-container(80px);
  }
  @include media-breakpoint-up(lg) {
    @include make-container(400px);
  }
}

.container-footer-places {
  @extend .container-footer;
  @include media-breakpoint-up(lg) {
    @include make-container(520px);
  }
}
