// FOR WORKPLACE ONLY
.workplace {
  background-color: bisque;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: $h1-font-weight;
  line-height: $h1-line-height;
  color: $h1-text-color;
}

h3 {
  font-weight: $h3-font-weight;
  line-height: $h3-line-height;
  color: $h3-text-color;
}

svg {
  height: $base-svg-height;
  width: $base-svg-width;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
