/* Colored Links Mixin */
@mixin singleLink($color, $border-color) {
  display: inline;
  padding: 0;
  color: $color !important;
  border: none;
  font-weight: normal;
  &:hover {
    text-decoration: none;
    color: $color !important;
  }
  & > svg {
    display: initial;
    height: 10px;
    width: 10px;
    fill: currentColor;
  }
  &:hover > span {
    border-bottom: 0.5px solid $border-color;
  }
}
@mixin outlinedLink($color) {
  display: block;
  text-align: center;
  color: $color;
  border: 1px solid $color;
  border-radius: 4px;
  padding: 1rem 1rem;
  font-weight: bold;
  &:hover {
    text-decoration: none;
    color: $color;
  }
  & > svg {
    display: none;
  }
  &:hover > span {
    border: none;
  }
}
@mixin makeCardView($bgcolor, $border, $borderRadius, $boxShadow) {
  background-color: $bgcolor;
  border: $border;
  border-radius: $borderRadius;
  box-shadow: $boxShadow !important;
  transition: box-shadow 200ms ease-in 0s !important;
}

@mixin makeBorderedImage($border-radius) {
  border-radius: $border-radius;
  width: 100%;
  height: auto;
}
